<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TryDjango</title>
</head>
<body>
    <h1> We are in {{ title }}</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

        <a href="/posts/{{ instance.id }}">{{ instance.title }}</a><br>
        {{ instance.content }}<br>
        {{ instance.timestamp.year }}<br>
        {{ instance.updated.year }}<br>
        {{ instance.id }}<br>

</body>
</html>