{% extends 'base.html' %}

{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}

<style>
{% block style %}

{% endblock %}
</style>

{% block content %}

    <div class="col-sm-6 col-sm-offset-3">
        <div class="thumbnail">
            {% if instance.image %}
                <img src="{{ instance.image.url }}" class="img-responsive">
            {% endif %}
            <div class="caption">
                <h3><a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a> <small> {{ instance.timestamp|timesince }} ago </small> </h3>
                {% if instance.user.get_full_name %}
                    <p> Author : {{ instance.user.get_full_name }} </p>
                {% endif %}
                <p> {{ instance.content|linebreaks }} </p>
            </div>
        </div>

    </div>



{% endblock content %}