{% extends 'base.html' %}

{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}

<style>
{% block style %}
    h1{
        color:red;
    }
{% endblock %}
</style>

{% block content %}
    <h1> We are in {{ title }}</h1>


        <a href="/posts/{{ instance.id }}">{{ instance.title }}</a><br>
        {{ instance.content }}<br>
        {{ instance.timestamp.year }}<br>
        {{ instance.updated.year }}<br>
        {{ instance.id }}<br>

{% endblock content %}